{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <p><strong>Username</strong> - {{user.username}}</p>
        <p><strong>First Name</strong> - {{user.firstName}}</p>
        <p><strong>Last Name</strong> - {{user.lastName}}</p>
        <p><strong>Free trial status</strong> - {{expired}}</p>
        <p><strong>Subscription expiration date</strong> - {{sub_expired}}</p>
      </div>
    </section>
    <div class="container">
      <button class="button is-primary" id="submitBtn">
        Purchase subscription
      </button>
      <a
        class="button is-danger"
        {% comment %} action="{% url 'payments:cancel_sub' %}" {% endcomment %}
        href = "/stripe/cancel_sub/"
        id="cancelSubBtn"
      >
        cancel subscription
    </a>
    </div>
  </body>
</html>
